body {
    background-color: #f3e2caec;
}
.navbar-custom {
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}
  
.logo-link{
    font-family: 'Crafty Girls', cursive;
    font-weight: 900;
}

.navbar-link {
    color: #4A3933;
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.log-out {
    margin-left: 41.55rem;    
}

h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    color: #4A3933;
}

h2 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

h2 li {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.headings {
    font-family: 'Raleway', sans-serif;
}

.content {
    font-family: 'Montserrat', sans-serif;
}

.alert {
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 132, 110);
}

.notice {
    font-family: 'Lato', sans-serif;
    background-color: rgb(248, 212, 134);
    color: rgb(107, 66, 5);
}

.log-out li {
    list-style: none;
    text-align: right;
}

.borderless th {
    border: none;
    padding-bottom: 12px;
}

.borderless td {
    border: none;
}

a {
    text-decoration: none;
    color: #CC561E;
    font-weight: 600;
}

.body-link {
    text-decoration: none;
    color: #CC561E;
    font-family: 'Raleway', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #ff5506;
}

.btn-custom {
    background: linear-gradient(to right, #f46b45, #eea849);
}

.user-image {
    width: 100px;
    border-radius: 5px 20px 5px;
}

.user-image-small {
    width: 40px;
    border-radius: 50%;
}

.field {
    font-family: 'Montserrat', sans-serif;
    color: #4A3933;
    font-weight: 600;
}

.button-custom {
    background: linear-gradient(to right, #f46b45, #eea849);
    color: rgb(37, 6, 0);
    font-weight: 600;
    border-radius: 15px 30px 45px 7.5px;
    padding: 3px 20px;
}

.button-custom:hover {
    color: tomato;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 28px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    background: linear-gradient(230deg, #f2994a, #f2c94c);
    color: rgb(238, 93, 10);
    border: 6px solid linear-gradient(to right, #e43a15, #e65245);
    border-left-width: 3px;
    border-radius: 25%;
}

.pagination a:visited {
    color: rgb(238, 93, 10); 
}

.pagination a:hover {
    color:#f8d63e; 
}

.page-item.active .page-link {
    border-color: #e43a15;
    color:#181614;
    border-radius: 20%;
}


  